body {
    background-image: url("/assets/img/pxfuel\ \(1\).jpg");
    background-size: 80%;
    background-position-x: 30%;
    background-position-y: 10%;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
}

a {
    text-decoration: none;
    color: #d6d5d5;
}

a:hover {
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

.tableMenu {
    padding-top: 10px;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    text-decoration: none;
}

.navigation {
    font-weight: 500;
    border-bottom: 1px solid #ffffff;
    background-color: #040404c3;
    position: sticky;
    top: 0;
    font-weight: 800;
}

button {
    width: 140px;
    font-size: 16px;
    color: white;
    background-color: #ffffff00;
    border-radius: 18px;
    border: solid 1px;
    border-color: #ffffff;
    padding: 9px;
}

button:hover {
    transition: 0.3s;
    color: rgb(106, 210, 244);
    border: solid rgb(106, 210, 244) 1px;
}

.readingSection {
    display: flex;
    justify-content: space-around;
    padding: 60px;
}

form {
    font-size: 19px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

form div {
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
}

input {
    color: #ffffff;
    margin-top: 10px;
    padding: 7px;
    font-size: 15px;
    border-radius: 8px;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.35);
}

textarea {
    color: #ffffff;
    margin-top: 10px;
    padding: 7px;
    font-size: 15px;
    border-radius: 8px;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.35);
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    margin-bottom: 60px;
}

.address {
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
}

.address p {
    margin-top: 0px;
}

.about {
    display: flex;
    align-items: center;
    border-radius: 15px;
    font-size: 25px;
    background-color: #5352522c;
    padding: 50px;
    margin: 20px;
    font-style: italic;
}

.about:hover {
    background-color: rgba(0, 0, 0, 0.173);
    transition: 0.7s;
}

.title {
    margin-top: 30px;
    text-align: center;
}

.profile {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: auto;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: rgba(0, 0, 0, 0.101);
    margin-top: 40px;
    border-top: solid white 1px;
    display: grid;
    justify-content: center;
}

footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

footer li {
    padding-right: 20px;
    padding-left: 20px;
}

footer p {
    margin-top: 0;
    display: flex;
    justify-content: center;
}