body {
    background-image: url("/assets/img/pxfuel\ \(1\).jpg");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
}

a {
    text-decoration: none;
    color: #bbbbbb;
}

a:hover {
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

.tableMenu {
    padding-top: 10px;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    text-decoration: none;
}

.navigation {
    font-weight: 500;
    border-bottom: 1px solid #ffffff;
    background-color: #040404c3;
    position:sticky;
    top: 0;
    font-weight: 800;
}

button {
    font-size: 16px;
    color: white;
    background-color: #ffffff00;
    border-radius: 18px;
    border: solid 1px;
    border-color: #ffffff;
    padding: 9px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.638);
    transition: 0.4s;
}

.readingSection {
    display: flex;
    justify-content: space-around;
    padding: 60px;
}

form {
    font-size: 19px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

input {
    color: #ffffff;
    padding: 7px;
    font-size: 15px;
    border-radius: 7px;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.35);
}

textarea {
    color: #ffffff;
    padding: 7px;
    font-size: 15px;
    border-radius: 7px;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.35);
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    margin-bottom: 60px;
}

.address {
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.about {
    display: flex;
    align-items: center;
    border-radius: 15px;
    font-size: 25px;
    background-color: #5352521e;
    padding: 50px;
    margin: 20px;
    font-style: italic;
}

.about:hover {
    background-color: #26262681;
    transition: 0.3s;
}

.title {
    margin-top: 30px;
    text-align: center;
}

.profile {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: auto;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}